{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="banner mb-5">
    <style>
        .banner #img-banner {
            background-image: url("{% static 'assets/images/banner.jpg' %}");
        }
    </style>
    <div class="container-fluid" id="img-banner">
        <div class="container-fluid" id="title-banner">
            <h1>KLASIFIKASI MOTIF BATIK</h1>
            <p>Beranda > <span><a href="#">Klasifikasi</a></span></p>
        </div>
    </div>
</div>

<section>
    <div class="container mb-5">
        <form method="post" enctype="multipart/form-data" action="{% url 'hasil_klasifikasi' %}">
            {% csrf_token %}
            <div class="row mb-5">
                <div class="col">
                    <div class="form-group">
                        <div class="dropzone-wrapper d-flex justify-content-center align-items-center">
                            <div class="dropzone-desc text-center" id="dropzone-desc">
                                <i class="uil uil-cloud-upload" id="icon-upload"></i>
                                <br>drug and drop image to upload
                            </div>
                            <input type="file" name="filePath" class="dropzone" id="dropzone" required>
                            <div class="preview-zone d-flex align-items-center" id="preview-zone">
                                <div class="box box-solid text-center">
                                    <div class="box-body"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col d-flex justify-content-center">
                    <input type="submit" value="Submit" class="btn">
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}